.modal {
    z-index: 9999999999999;
}

.modal-dialog {
    color: #000;
}

.modal-header {
    border-bottom: 0;
}

.modal-content {
    overflow: initial;
}

.modal-body {
    background: white;
}

.footer-modal {
    margin: 0 !important;
    background: white;
}

.modal-header .close {
    opacity: 1;
    padding: 5px 9px;
    position: absolute;
    right: -28px;
    background-color: #fff;
    color: #000;
    top: 0;
    border-radius: 3px;
    margin: 0;
}

button.close:hover {
    opacity: 1 !important;
}

.modal-title {
    margin: 0 auto;
    font-weight: bold;
}

.modal-body {
    padding: 0rem 4rem 1rem;
}

.modal-header img {
    max-width: 100%;
}

.center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.modal-body h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 0;
}

.modal-body h4 {
    font-size: 17px;
    font-weight: bold;
    margin-top: 20px;
}

.modal-body p {
    font-size: 15px;
    line-height: 20px;
}

.modal-body p a {
    color: blue;
}

.footer-modal {
    text-align: center;
    margin: 0 auto;
    padding-bottom: 30px;
}

.footer-modal img {
    max-width: 500px;
}

.footer-links {
    padding-top: 20px;
}

.footer-links a {
    color: #000 !important;
    padding-right: 20px;
    font-weight: bold;
}

.footer-links a:last-child {
    padding-right: 0;
}

.footer-logo {
    position: absolute;
    top: -7px;
}

.footer-logo img {
    max-width: 35px;
}

.main-footer.login {
    width: 100%;
    bottom: 0;
}

footer.main-footer {
    padding: 20px 2%;
    background-color: #F5F5F7;
    color: #262626;
}

.copyrights {
    text-align: center;
    position: relative;
    font-size: 14px;
}

.copyrights img {
    max-width: 15px;
    padding-right: 3px;
}

.copyrights a, .copyrights span {
    vertical-align: top;
}

footer.main-footer a {
    color: #262626;
}

.footer-social {
    position: absolute;
    top: 0;
    right: 0;
}

.footer-social img {
    max-width: 20px;
    filter: brightness(0) invert(0);
}

.footer-social a {
    display: inline-block;
    vertical-align: middle;
    padding-left: 10px;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 1000px;
        margin: 1.75rem auto;
    }
}

@media screen and (max-width: 768px) {
    .footer-social {
        position: initial;
    }
    .copyrights {
        display: block;
    }

    .modal-body {
        padding: 10px;
    }

    .modal-header .close {
        right: 0px;
    }

    .modal.show .modal-dialog {
        width: 100% !important;
    }

    .footer-modal img {
        width: calc(100% - 20px);
    }

    .main-footer.login {
        width: 100%;
    }
}